
<div class="containerClub">
    <div class="bannerClub" style="background-image: url('https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/club/club_locator_header_01.jpg');">
        <div class="textClub">LAMBORGHINI</div>
        <div class="text1Club">CLUB</div>
    </div>

    <div class="club">
        <div class="pictureClub">
            <img class="picture__imageClub" src="https://xehay.vn/uploads/images/2019/7/4/xehay-lamborghini-aventador-svj-30072019-1.jpg">
        </div>

        <div class="contentClub">
            <div class="titleClub">THE CLUB</div>
            <div class="content--tileClub">Automobili Lamborghini ignites the passion of thousands of super sports car collectors and owners worldwide. Over the years, many of these passionate owners have joined together in prestigious Clubs to share their enthusiasm and celebrate the sense of belonging with Automobili Lamborghini.
                <br>
                
The Club members’ participation and passion have given value to the Lamborghini brand, and the company decided to give the official Clubs of the different countries a more active role, fostering the organization of special events and exclusive experiences reserved to owners of the cars produced by the House of Sant’Agata Bolognese.
            </div>
        </div>
    </div>
</div>

